<h1>Edit Property</h1>

<%= form_for :property, url: property_path(@property), method: :patch do |f| %>
  <% if @property.errors.any? %>
    <div>
      <ul>
        <% @property.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :property_type %><br>
    <%= f.select :property_type, Property::ACCEPT_TYPES %>
  </p>

  <p>
    <%= f.label :agent_id %><br>
    <%= f.collection_select :agent_id, Agent.all, :id, :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<p><%= link_to 'Back', properties_path %></p>
