<div class="page-header">
  <h1>Listing properties</h1>
</div>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>description</th>
    <th>Type</th>
    <th colspan="3">Actions</th>
  </tr>

  <% @properties.each do |property| %>
    <tr>
      <td><%= property.name %></td>
      <td><%= property.price %></td>
      <td><%= property.description %></td>
      <td><%= property.property_type %></td>
      <td><%= link_to "Show", property_path(property), class: 'btn btn-primary' %></td>
      <td><%= link_to "Edit", edit_property_path(property), class: 'btn btn-success' %></td>
      <td><%= link_to "Destroy", property_path(property), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
