<h1>New Property</h1>

<%= form_for :property, url: properties_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :property_type %><br>
    <%= f.select :property_type, Property::ACCEPT_TYPES %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
