<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @property.property_type %>
</p>

<div class="row">
  <% @property.photos.each do |photo| %>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag photo.file.url(:medium) %>
      </div>
    </div>
  <% end %>
</div>

<p><%= link_to 'Back', properties_path %></p>
