<p>
  <strong>Name:</strong>
  <%= @agent.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @agent.company %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @agent.mobile %>
</p>

<div class="row">
  <% if @agent.photo.present? %>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag @agent.photo.url(:medium) %>
      </div>
    </div>
  <% end %>
</div>

<p><%= link_to 'Back', agents_path %></p>
